<h1>About Me</h1>
<div class="about-content">
    <p>Hi, I’m Kavinayan! I’m a second-year Networking and IT Security student at Ontario Tech University, and I’m really passionate about cybersecurity, AI, and cloud technologies. I’m on a journey to become an expert in IT security, and my goal is to not just learn the ins and outs of protecting digital systems, but also contribute to the tech community and make a real difference along the way."</p>
</div>
