<!-- views/projects.ejs -->

<h1>Projects</h1>
<ul>
  <li><a href="https://github.com/kavinayanT/project1">Project 1: Awesome Web App</a></li>
  <li><a href="https://github.com/kavinayanT/project2">Project 2: AI Chatbot</a></li>
  <li><a href="https://github.com/kavinayanT/project3">Project 3: Security Scanner</a></li>
</ul>
