<h1>My Projects</h1>
<div class="projects">
    <div class="project-card">
        <h3>Project 1: HTML Portfolio Website</h3>
        <p>A portfolio about myself that I had created using HTML.</p>
        <a href="https://github.com/kavinayanT/Assignment.1.git" target="_blank">View Project</a>
    </div>
    <div class="project-card">
        <h3>Project 2: Personal Portfolio Website</h3>
        <p>This portfolio website, built with ExpressJS and EJS, showcases my skills and projects.</p>
        <a href="https://github.com/kavinayanT/Assignment.2.git" target="_blank">View Project</a>
    </div>
</div>
